a
	text-decoration none
	cursor pointer
	color inherit

body
	font-family var(--bodyFont)
	font-weight 500
	color var(--bodyText)
	font-size 14px
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-webkit-text-size-adjust 100%
	user-select none
	cursor default
	text-rendering inherit
	overflow-x hidden

svg
	flex-shrink 0