a
	text-decoration none
	cursor pointer
	color inherit

body
	overflow-x hidden

body
	font-family var(--bodyFont)
	font-weight 500
	color var(--black)
	background-color var(--bg)
	font-size 14px
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-webkit-text-size-adjust 100%
	user-select none
	cursor default
	text-rendering inherit

svg
	flex-shrink 0