.footer
    display flex
    align-items center
    justify-content space-between
    height 120px
    width 100%
    margin-top 30px
    border-top solid var(--white) 1px
    border-radius 6px
    @media (max-width: 1000px)
        display flex
        flex-direction column
        align-items center
    .link-group
        padding 40px 180px
        @media (max-width: 1000px)
            padding 10px 20px
        a
            color var(--white)
            font-size 18px
            font-weight 600
            @media (max-width: 1000px)
                display flex
                flex-direction column
                align-items center
        .link-name
            cursor pointer
            color var(--notActive)