.footer
    flex-center()
    justify-content space-between
    width 100%
    margin-top 30px
    border-top solid var(--white) 1px
    border-radius 6px 6px 0 0
    @media (max-width: 1000px)
        display flex
        flex-direction column
        align-items center
    .link-group
        padding 40px 180px
        @media (max-width: 1000px)
            padding 10px 20px
        a
            font-size 18px
            font-weight 600
            @media (max-width: 1000px)
                display flex
                flex-direction column
                align-items center
        .link-name
            cursor pointer
