.footer
    display flex
    align-items center
    justify-content space-between
    height 120px
    width 100%
    margin-top 30px
    box-shadow inset 0px 2px 2px rgba(0, 0, 0, 0.25)
    @media (max-width: 1000px)
        display flex
        flex-direction column
        align-items center
    .link-group
        padding 40px 180px
        a
            font-size 18px
            font-weight 600
            @media (max-width: 1000px)
                display flex
                flex-direction column
                align-items center
        .link-name
            cursor pointer
            color var(--notActive)