.header
    display flex
    align-items center
    justify-content space-between
    width 100%
    padding 5px 40px
    border-bottom solid var(--white) 1px
    border-radius 0 0 6px 6px
    background var(--bg)
    z-index 1
    @media (max-width: 1000px)
        position fixed
        top 0
        padding 15px 20px
    .header-logo
        .mobile-logo
            visibility visible
            width 118px
            z-index 1001
            @media (min-width: 1001px)
                visibility hidden
                display none
        .navbar-logo
            visibility visible
            width 160px
            height 56px
            @media (max-width: 1000px)
                visibility hidden
                display none
    .header-links
        display flex
        @media (max-width: 1000px)
            display none
        a
            display flex
            align-items center
            font-size 16px
            margin-right 40px
    .hamburger-menu
        visibility visible
        svg
            width 24px
            height 18px
        @media (min-width: 1001px)
            visibility hidden
            display none