:root {
  --bodyFont: "'Poppins', sans-serif";
  --brandingFont: "'Rubik', sans-serif;", "'Poppins', sans-serif";
  --blue: #2196f3;
  --green: #28cd41;
  --stroke: #dadada;
  --steel: #768598;
  --black: #000;
  --notActive: #aaa;
  --bodyText: #1d1d1d;
  --purple: #7f52ca;
  --yellow: #ffda63;
  --white: #fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
body {
  overflow-x: hidden;
}
body {
  font-family: var(--bodyFont);
  font-weight: 500;
  color: var(--bodyText);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  text-rendering: inherit;
}
svg {
  flex-shrink: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  top: 0;
  padding: 20px 40px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}
.header .header-logo svg {
  width: 160px;
  height: 56px;
}
.header .header-links {
  display: flex;
}
.header .header-links a {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-right: 40px;
  font-weight: 600;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  margin-top: 30px;
}
.footer .link-group {
  padding: 40px 180px;
}
.footer .link-group a {
  font-size: 18px;
  font-weight: 600;
}
.footer .link-group .link-name {
  cursor: pointer;
  color: var(--steel);
}
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 38px;
  color: var(--white);
  background: linear-gradient(90deg, rgba(255,107,0,0.09) 57.55%, rgba(0,0,0,0) 75.47%), var(--purple);
  border: 0.5px solid var(--stroke);
  border-radius: 6px;
}
.start-button a {
  display: flex;
  margin-right: 0 !important;
  padding: 10px 16px;
  border-radius: 10px;
}
.home-page {
  display: flex;
  flex-direction: column;
}
.home-page svg {
  width: 430px;
  height: 250px;
}
.home-page .section-text {
  display: flex;
  flex-direction: column;
}
.home-page .section-text .section-title {
  width: 530px;
  font-size: 28px;
  margin-bottom: 10px;
}
.home-page .section-text .section-desc {
  width: 360px;
  color: var(--notActive);
}
.home-page .manifest-section {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  padding: 0 220px;
  height: 400px;
}
.home-page .manifest-section .manifest-text {
  margin-right: 64px;
  font-size: 48px;
  font-weight: 600;
  background: linear-gradient(90deg, rgba(255,107,0,0.09) 57.55%, rgba(0,0,0,0) 75.47%), var(--purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-page .manifest-section .right-manifest {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home-page .manifest-section .right-manifest .right-manifest--title {
  font-size: 24px;
  font-weight: 600;
}
.home-page .manifest-section .right-manifest .right-manifest--desc {
  margin-bottom: 20px;
  color: var(--notActive);
}
.home-page .manifest-section .right-manifest .start-button {
  font-size: 18px;
  height: 58px;
  font-weight: 600;
  border-radius: 12px;
}
.home-page .how-section {
  display: flex;
  align-items: center;
  padding: 32px 160px;
}
.home-page .how-section .how-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 140px;
  margin-right: 20px;
  padding: 20px 25px;
  border-radius: 4px;
  border: 0.5px solid var(--stroke);
  box-shadow: 0px 2px 4px rgba(92,92,92,0.25);
}
.home-page .how-section .how-box svg {
  width: 100px;
  height: 78px;
  margin-right: 22px;
}
.home-page .how-section .how-box .how-box--group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.home-page .how-section .how-box .how-box--group .how-box--title {
  font-size: 22px;
  font-weight: 600;
}
.home-page .how-section .how-box .how-box--group .how-box--desc {
  color: var(--notActive);
}
.home-page .landing-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 160px;
  margin-bottom: 120px;
}
.home-page .landing-section .join-text {
  font-size: 24px;
}
.home-page .landing-section .join-text .section-title {
  margin-bottom: 10px;
}
.home-page .landing-section .join-text .start-button {
  font-size: 18px;
}
