@import './variables.styl'
@import './components/fonts/popins.styl'

:root
    //Fonts
    --bodyFont bodyFont
    
    //Colors
    --blue blue
    --green green
    --black black
    --purple purple
    --yellow yellow
    --white white
    --stroke stroke
    --notActive notActive
    --lightGreen lightGreen
    --lightBlue lightBlue
    --bg bg