@import './variables.styl'

:root
    //Fonts
    --bodyFont bodyFont
    --brandingFont brandingFont
    
    //Colors
    --blue blue
    --green green
    --stroke stroke
    --purpleButton purpleButton
    --black black
    --notActive notActive
    --bodyText bodyText
    --purple purple
    --yellow yellow
    --white white
