//Fonts
bodyFont = "'Poppins', sans-serif";
brandingFont = "'Rubik', sans-serif;", bodyFont

// Colors
blue = #2196F3
green = #28CD41
stroke = #DADADA
purpleButton = linear-gradient(90deg, rgba(255, 107, 0, 0.09) 57.55%, rgba(0, 0, 0, 0) 75.47%), #7F52CA;
black = #000
notActive = #aaa
purple = #7F52CA
yellow = #FFDA63
white = #fff
bodyText = #1d1d1d