//Fonts
bodyFont = 'Poppins', sans-serif;

// Colors
blue = #2196F3
green = #28CD41
stroke = #DADADA
black = #1d1d1d
notActive = #aaa
purple = #7F52CA
yellow = #FFDA63
white = #fff
lightGreen = #C9FFD4
lightBlue = #214ed4

flexbox-centered()
    display flex
    flex-direction column
    align-items center

flexbox()
    display flex
    flex-direction column