//Fonts
bodyFont = 'Poppins', sans-serif;

// Colors
blue = #2196F3
green = #28CD41
stroke = #DADADA
black = #1d1d1d
notActive = #aaa
purple = #7F52CA
yellow = #FFDA63
white = #fff
lightGreen = #C9FFD4
lightBlue = #214ed4
bg = #131B3A

purpleGradient()
    background linear-gradient(to right, #FF6B00 0, #7F52CA 50%, #7F52CA 10%)
    background-position 0
    -webkit-background-clip text
    -webkit-text-fill-color transparent

flex-center()
    display flex
    align-items center

flex-column-center()
    display flex
    flex-direction column
    align-items center

flex-column()
    display flex
    flex-direction column

