.apps-page
    margin 36px 64px
    color var(--black)
    .manifest-section
        flex-center()
        justify-content space-between
        margin-bottom 32px
        svg
            width 450px
            height 400px
        .left-column
            .left-column--title
                font-size 48px
                margin-bottom 10px
            .left-column--desc
                font-size 20px
                color var(--lightGreen)
    .feature-section
        display flex
        justify-content space-between
        margin-top 20px