.not-found
    flex-column-center()
    justify-content center
    text-align center
    padding 60px 0
    .not-found--404
        font-size 120px
        line-height 420px
    .not-found--text
        font-size 20px
        margin-top -120px